DATABASE_URL="postgresql://user:password@host:5432/dbname?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:5432/dbname"
NVIDIA_API_KEY=""
GEMINI_API_KEY=""
GROQ_API_KEY=""
APP_URL="http://localhost:3000"
